body {
    background-image: url("http://orig05.deviantart.net/b424/f/2016/258/0/5/rick_and_morty_background_no_4_by_jurokoo-dahrvd7.png");

}

#result { 
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

#result > * {
   margin: 1em 0; /* Allows space between each renderMain vertically */
}


.renderPiece {
    height: 275px;
    width: 260px;
 
    list-style: none;
}

.renderText {
    list-style: none;
    background-color: whitesmoke;
}

.renderMain {
    /*display: flex;
    flex-direction: row; */
    max-width: 50%;
    border: solid;
    z-index: 3;
}

.renderMain :hover  {
    
    width: 300px;
    opacity: 0.7;
}


header {
    color:whitesmoke;
    background-color: aqua;
}